[submodule "BLERCcar/lib/SimpleBLE"]
	path = BLERCcar/lib/SimpleBLE
	url = git@github.com:GalBrandwine/SimpleBLE.git
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "BLERCcar/BLERCcar_client/lib/conio.h"]
	path = BLERCcar/BLERCcar_client/lib/conio.h
	url = git@github.com:zoelabbb/conio.h.git
